<td>
  {{item.name}}
</td>
<td>
  {{item.to}}
</td>
<td>
  {{ago item.stop.departure}}
  {{#if item.stop.delay}}
    <br>
    <span class="warning">
      {{item.stop.delay}}min delay
    </span>
  {{/if}}
</td>
{{#if hasPlatforms}}
  <td class="tar">
    {{item.stop.platform}}
  </td>
{{/if}}
